/*  CSS Document                             */
@charset "UTF-8";

/* Global Styles */
body { margin: 0px; padding: 0px; font-family: Helvetica; font-size: 16px; background: url(../images/template/bgtile.jpg?v=1);}


/* Global Layout */

header  { display: block; position: absolute; top: 0px; left: 0px; width:300px; height: 300px; background-color:rgba(255,255,255,.5); -webkit-box-shadow: 0px 5px 4px rgba(28,84,0,0.15); box-shadow: 0px 5px 4px rgba(28,84,0,0.15); }
article { display: block; position: absolute; top: 40px; left: 0px; }
article .content_container { position: absolute; top: 0px; left: 0px; background: none; }
article .content_container .content_loading_container { position: absolute; top: 0px; /* padding: 40px 20px 0px 40px; */}
footer  { display: block; position: absolute; bottom: 0px; eight: 0px; height: 60px; background-color:rgba(255,255,255,1); }
nav { position: absolute; bottom: 18px; right: 25px; }


/* Page-specific Style and Layout */
.page.home article .content_container { background: url(../images/template/background_content_home.jpg?v=1) no-repeat 0px 0px; }


/* Orientation-specific Layout - Landscape */
.page.landscape  { position: relative; width: 1024px; height: 748px; overflow: hidden; }
.page.landscape header  { width: 300px; }
.page.landscape article { width: 1024px; height: 618px; }
.page.landscape footer  { width: 1024px; }

.page.landscape .sidebar {position:relative; width:300px; height:618px; margin-right:20px; background-color:rgba(255,255,255,.5);}
.page.landscape .content {position:relative; width:724px; height:618px; float:left; background-color:rgba(255,255,255,.5);}

.page.landscape article .content_container { width: 1024px; height: 618px; }


/* Orientation-specific Layout - Portrait */
.page.portrait { position: relative; width: 768px; height: 1004px; overflow: hidden; }
.page.portrait header  { width: 300px; }
.page.portrait article { width: 768px; height: 874px; }
.page.portrait footer  { width: 768px; }

.page.portrait article .content_container { width: 768px; height: 874px; }

.logostack {
  position:relative;
  height:300px;
  width:300px;
  margin:0 auto;
  
}

.logo {position: absolute; top:0; left:0; width:300px;}



.logostack .top:hover { opacity:0;
-webkit-transition: opacity 1.5s ease-in-out;
-moz-transition: opacity 1.5s ease-in-out;
transition: opacity 1.5s ease-in-out;
}

nav a {

padding: 15px 15px 15px 59px;
background: url(../images/template/icon.png?v=1) no-repeat;
background-size: 49px;
border-radius: 3px;
-webkit-box-shadow: 0px -3px 3px rgba(28,84,0,0.25);
box-shadow: 0px -3px 3px rgba(28,84,0,0.25);
background-color: rgba(255,20,22,33.8);
}
nav a.selected { -webkit-box-shadow: 0px -3px 3px rgba(28,84,0,0.25);
box-shadow: 0px 0px -3px rgba(28,84,0,0.75);
background-color: rgba(255,255,255,.8)}